#user_panel
  - if current_user
    = link_to current_user.email, :edit_user_registration
    |
    = link_to "Выход", :destroy_user_session, :method => :delete
  - else
    = link_to "Войти", :new_user_session
    |
    = link_to "Регистрация", :new_user_registration

%h1 Привет от iUni